
/*COLORS*/
:root{
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

/*FONTS*/
@font-face {
    font-family: 'young-serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

/*STYLES*/
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--stone-100);
    justify-content: center;
}

.white-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--white);
    margin: 30px;
    padding: 35px;
    width: 100%;
    height: auto;
    max-width: 700px;
    min-width: 200px;
    border-radius: 25px;
}

img{
    border-radius: 15px;
    width: 100%;
    height: auto;
}

h1{
    font-family: 'young-serif', Arial;
    font-weight: 500;
    font-size: clamp(1rem, 5vw, 3rem);
    color: var(--stone-900);
    margin-bottom: 18px;
}

.header{
    margin-bottom: 0;
}

.purple-box {
    background-color: var(--rose-50);
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding-left: 27px;
    padding-top: 2px;
    padding-bottom: 8px;
    margin-top: 18px;
    line-height: 170%;
}

ul li::marker{
    color: var(--rose-800);
    font-size: 1em;
}

li{
    padding-left: 15px;
}

.prepTimeList{
    padding-left: 25px;
}

p, li{
    font-family: 'outfit', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: clamp(0.9rem, 2.3vw, 16px);
    color: var(--stone-600);
}

h3{
    font-family: 'outfit', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 2.5vw, 20px);
    color: var(--rose-800);
    margin-bottom: -5px;
}